@font-face {
  font-family: "iconfont"; /* Project id 3643821 */
  src: url('iconfont.woff2?t=1663122983646') format('woff2'),
       url('iconfont.woff?t=1663122983646') format('woff'),
       url('iconfont.ttf?t=1663122983646') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bofang:before {
  content: "\e624";
}

.icon-xing2:before {
  content: "\e600";
}

.icon-motuoche:before {
  content: "\e652";
}

